@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #fffcf8;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #90A877;
  padding: 8px;
}

.nav-left,
.nav-mid,
.nav-right {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}

.nav-left h1 {
  font-size: 36px;
  font-family: "Questrial", sans-serif;
  color: white;
}

.nav-search {
  display: flex;
  background-color: white;
  width: 440px;
  border-radius: 12px;
  padding: 8px;
}

  .nav-search input {
    outline: none;
    border: none;
    width: 100%;
    background: transparent;
  }

.user-avatar {
  display: flex;
  align-items: center;
}

  .user-avatar img {
    width: 40px;
    clip-path: circle();
  }

.buttons{
    display: flex;
    align-items: center;
}

  .buttons i {
      padding: 8px;
  }
