@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #fdfcfc;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #5EA3A3;
  padding: 8px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}

.nav-left h1 {
  margin: 0;
  font-size: 36px;
  font-family: "Questrial", sans-serif;
  color: white;
}

.nav-search {
  display: flex;
  background-color: #488B8F;
  width: 440px;
  border-radius: 12px;
  padding: 8px;
}

  .nav-search input {
    outline: none;
    border: none;
    width: 100%;
    background: transparent;
    color: white;
  }

  .nav-search input::placeholder {
    color: white;
    opacity: 1;
  }

.user-avatar {
  display: flex;
  align-items: center;
}

  .user-avatar:hover {
    background: #538f92;
    transition: ease-in-out 0.1s;
  }

  .user-avatar img {
    width: 32px;
    clip-path: circle(); // crop image in a circle
  }

.buttons{
    display: flex;
    align-items: center;
}

  .buttons i {
      padding: 8px;
  }

  .buttons i:hover {
    background: #538f92;
    transition: ease-in-out 0.1s;
}
