.wrapper {
    display: flex;
    justify-content: space-evenly; 
    margin-top: 24px;
}

.card {
    padding: 12px;
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #d3d3d3;
}

.newsfeed{
    width: 50%;
}

.post-form{
    width: 100%;
}

.post-form textarea{
    width: 100%;
    padding: 8px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}