.wrapper {
    display: flex;
    justify-content: space-evenly; 
    margin-top: 24px;
}

.card {
    margin-bottom: 12px;
    padding: 12px;
    background-color: #fdfcfc;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    box-shadow: #63636333 0px 2px 8px 0px;
}

.newsfeed{
    width: 50%;
}

.post-form{
    width: 100%;
}

.post-form textarea{
    width: 100%;
    padding: 8px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.status-post{
    padding: 12px;
}

.post-details{
    display: flex;
    justify-content: space-between;
}

.post-details-profile{
    display: flex;
    align-items: center;
    gap: 12px;
}

.post-details-profile img{
    clip-path: circle();
}

#post-body{
    padding: 12px;
}