@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto&display=swap');

.wrapper {
    display: flex;
    justify-content: space-evenly; 
    margin-top: 24px;
}

.card {
    margin-bottom: 12px;
    padding: 12px;
    background-color: #fdfcfc;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    box-shadow: #63636333 0px 2px 8px 0px;
}

/**********************************USER PROFILE**********************************/
.greeting {
    background-color: #86BABA;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:6px;
}

.greeting img {
    width: 75px;
    clip-path: circle();
}

.greeting h4{
    color: white;
}

.profile-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-title button{
    border: none;
    background-color: transparent;
}

.update-profile-btn{
    background-color: #5EA3A3;
    color: white;
}

.update-profile-btn:hover {
    background-color: #488B8F;
}

.card-a {
    margin-bottom: 12px;
    padding: 12px 12px 0px 12px;
    background-color: #fdfcfc;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    box-shadow: #63636333 0px 2px 8px 0px;
}

.card-a .update-profile-btn {
    padding: 12px;
    background-color: #5EA3A3;
    color: white;
    border: none;
    border-top: 1px solid #d3d3d3;
    border-radius: 0px 0px 12px 12px;
    width: 100%;
}

.card-a .update-profile-btn:hover{
    background-color: #488B8F;
    transition: ease-in-out 0.1s;
}

/**********************************WRITE POST**********************************/
.post-form{
    width: 100%;
}

.post-form img{
    width: 36px;
    height: 36px;
    clip-path: circle();
}

.post-form textarea{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 12px;
}

.post-form .options label {
    cursor: pointer;
    display: flex;
    margin-right:12px;
 }
 
 #fileImgUpload {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

 #postSubmitBtn {
     background-color: #488B8F;
     border: none;
     border-radius: 8px;
     color: white;
     font-weight: bold;
     padding: 4px 16px 4px 16px;
 }

/**********************************LOAD POSTS**********************************/

.tab-content{
    padding: 12px;
    background-color: #ADD2C9;
}

.nav-link {
    color: #8F8F8F;
}

.nav-item .nav-link.active{
    background-color: #ADD2C9;
    border-color: #ADD2C9;
    color: white;
    font-weight: bold;
}

.status-post{
    padding: 12px;
}

.post-details{
    display: flex;
    justify-content: space-between;
}

.post-details-profile{
    display: flex;
    align-items: center;
    gap: 12px;
}

.post-details-profile img{
    width: 36px;
    height: 36px;
    clip-path: circle();
}

#post-body{
    padding: 12px;
}

.post-body-image{
    display: flex;
    justify-content: center;
}

.post-body-image img{
    max-width:100%;
}

.link {
  color: #488B8F;
  font-weight: bold;
}

.link:hover {
  color: #3c6f72;
}

/**********************************COMMENTS**********************************/

.background {
    background-color: #fdfcfc;
}

.comment-icon{
    border: 0px;
    background-color: transparent;
    height: 24px;
    margin-right: 4px;
}

.post-options p{
    display: inline;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#commentForm {
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
}

.space {
    padding-bottom: 37px;
}

.comment-form textarea {
    width: 100%;
    border-radius: 16px;
    height: 36px;
}

.comment-form button {
    background: transparent;
    border: none;
}
/**********************************LIKES**********************************/

.post-options iframe {
    height: 36px;
}

.form-like {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}

.like-icon {
    border: 0px;
    background-color: transparent;
    padding: 0px;
    margin-top: 1px;
    margin-right: 4px;
}

.form-like p {
    display: inline;
    margin-bottom: 1rem;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/**********************************SETTINGS**********************************/

.settings-btn {
    border: none;
    background-color: transparent;
    height: 24px;
}

.settings-option {
    display: flex;
    justify-content: flex-end;
}

.edit-body textarea {
    width: 100%;
    border-color: #d3d3d3;
    border-radius: 10px;
    padding:10px;
}

.back-btn{
    margin:4px;
    background-color: #6c757d;
    color: white;
}

.back-btn:hover{
    background-color: #616569;
}

.go-btn{
    margin:4px;
    background-color: #5EA3A3;
    color: white;
}

.go-btn:hover {
    background-color: #488B8F;
}